.threeCanvas {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1; /* Place it behind all other content */
}

.mainContainer {
  width: 100vw;
  min-height: 100vh; /* Use min-height instead of height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-y: auto; /* Allow vertical scrolling */
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0;
    align-items: flex-start; /* Align to top on mobile */
  }
}
