.appContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.contentOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(240, 242, 245, 0.6); /* Subtle background to make content pop */
}
