.mainContainer {
  width: 100vw;
  min-height: 100vh; /* Use min-height instead of height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-y: auto; /* Allow vertical scrolling */
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0;
    align-items: flex-start; /* Align to top on mobile */
  }
}
